@charset "UTF-8";

.top-buffer { margin-top: 20px; }
.bottom-buffer { margin-bottom: 20px; }

h2, h3{ margin-top: 0; }

.callout-container .col-xs-12{
  margin-bottom: 3em;
}

.sidebar .btn-signup{
  display: block;
  width: 100%;
  margin-bottom:3em;
}

footer{
  background: #111;
  margin-top:40px;
  color: #fff;
}

