

/*---General---*/
.top-buffer { margin-top: 2%; }
.bottom-buffer { margin-bottom: 2%; }

/*---home---*/
.page-header{
	background: $background-color;
}

.page-header h1{
	color: $base-text-color;
	text-align:center;
}

.sidebar .btn{
	display: block;
	width: 100%;
	margin-bottom:2%;
}

/*---standing---*/

/*---locations---*/
.mapdiv img{
	width:100%;
}

.mapdiv li{
	list-style-type: none;
}

/*---signup---*/
.col{
	margin-left:2%;
	margin-top:2%;
}

.coln{
	margin-bottom:1%;
}

.cardBtn{
	margin-top:1%;
	margin-bottom:1%;
}

/*---responsive---*/
@media screen and (min-width: $breakpoint-small) and (max-width: $breakpoint-middle-1){
	.coln-name{
		width:80%;
		float:left;
	}
}

@media screen and (min-width: $breakpoint-small) and (max-width: $breakpoint-middle-2){
	.coln-address{
		width:80%;
		float:left;
	}
}

@media screen and (min-width: $breakpoint-small) and (max-width: $breakpoint-large){
	.coln-card{
		width:80%;
		float:left;
	}
}




