/* Scss Document */

/* General */
$base-font-size     : 1.5em;
$base-text-color    : #fff;
$background-color	: #0058B2;
$button-color-one	: #1FFFD0;
$button-color-two	: #07E5FF;
$color-hover-one	: #7F7E7C;
$color-hover-two	: #00BAAA;
$color-hover-three	: #00D9C3;
$container_width	: 960px;
$number_of_columns	: 2;
$margin				: 120px;
$element_width		: 300px;

/* Breakpoints */
$breakpoint-small : 	300px;
$breakpoint-middle-1:	600px;
$breakpoint-middle-2:	700px;
$breakpoint-large : 	950px; 

/* Fonts */
$font-primary:  "Helvetica Neue", Helvetica, Arial, sans-serif;
$font-secondary:  "Georgia", Cambria, Times New Roman, Times, serif;